obj/
bin/

# User-specific files
*.user
*.rsuser
*.suo
*.cache
.vs/


# Configuration
appsettings.Development.json
appsettings.Local.json
appsettings.json
appsettings.*.json



# Logs
*.log


# EF Core
Migrations/


# Others
*.db
*.db-shm
*.db-wal